<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    <h1 class="title">Welcome to Rentalyzer</h1>
    <div class="intro">
        <p> Rentalyzer is a free to use tool that will help you analyze
        <br>your next rental property. Our goal is to make the process as
        <br>easy as possible and let you know if your deal is good or not.
    </p>
    </div>
</body>
</html>